html {
  padding: 0;
  margin: 0;
  background-color: hsl(70, 9%, 93%);
  color: hsl(70, 9%, 10%);
}

body {
    font-family: 'Cabin', Sans-Serif;
    font-size: 18px;
}

p {
    line-height: 1.5em;
}

.wrapper {
    margin: auto;
    max-width: 80rem;
}


.header {
    text-align: center;
}

.header p {
    font-size: 12px;
    padding-top: 0;
    margin-top: 0;
}

h1 {
    margin-bottom: 0;
    font-family: 'Roboto Condensed', Sans-Serif;
    font-size: 65px;
}

h2 {
    margin-top: 2rem;
    font-size: 30px;
    text-align: center;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 20px;
    margin-bottom: 2px;
}


h1 a, h2 a, h3 a {
    text-decoration: none;
}

.about {
    padding: 1rem;
    background-color: hsl(70, 9%, 90%);
}



.media {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    grid-gap: 1rem;
    margin-bottom: 1rem;
    background-color: hsl(70, 9%, 90%);
    padding: 1rem;
}

.media iframe {
    max-width: 100%;
    border: 1px solid hsl(70, 9%, 85%);
}

.preview {
    
}


.projects {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}
@media(min-width: 1000px) {
    .projects {
        grid-template-columns: 1fr 1fr;
    }
}

.project {
}

.box {
    background-color: hsl(70, 9%, 90%);
    padding: 1rem;
    border-radius: 4px;
    border: 1px solid hsl(70, 9%, 85%);
    box-shadow: 1px 1px 0px 0px hsl(70, 9%, 88%);
}

.copy {
    text-align: right;
    margin-top: 3rem;
    font-size: 0.8rem;
}

